   body {
       background-color: #000000;
       color: #c9c6c6;
       font-weight: 100px;
   }

   .form {
       margin-top: 150px;
   }

   .form-control {
       border-radius: 0px;
   }

   h2 {
       font-family: 'Maven Pro', sans-serif;
       letter-spacing: 1px;
   }

   label,
   p,
   .form-group {
       font-family: 'Montserrat', sans-serif;
   }

   /* Button Styling*/

   .btn-primary {
       color: #c9c6c6;
       background-color: #000000;
       border-color: #c9c6c6;
       border-radius: 0px;
       transition: all 0.5s;
       cursor: pointer;
       text-align: center;
       font-family: 'Maven Pro', sans-serif;
   }

   .btn-primary:hover {
       background-color: #242424;
       border-color: #c9c6c6;
       border-width: 3px;
       letter-spacing: 2px;
   }

   /* End of Button Styling */

   footer {
       background-color: #000000;
       padding: 50px 0px 0px 0px;
       color: #c9c6c6;
   }